.card-message {
  max-width: 50%;
  width: fit-content;

  @media screen and (min-width: 1200px) {
    max-width: 40%;
  }

  p {
    margin: 0;
  }

  .p-card-footer {
    font-size: 12px;
    opacity: 0.5;
    margin-left: auto;
  }
}
